@import 'fonts.styl'
@import 'includes/*'

body, html
  margin 0
  padding 0
  font-c1()
  background-image linear-gradient(to bottom, #fbfbfb, #ebebeb, #f8f8f8, #f4f4f4)
  background-size 4px 4px
  background-repeat repeat
